#include <windows.h>
#include "resource.h"
IDD_DLGTEST DIALOG DISCARDABLE 0, 0, 200, 250
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |
WS_SYSMENU
CAPTION "Calculator"
FONT 8, "MS Sans Serif"
BEGIN
 DEFPUSHBUTTON "CLEAR",ID_CLEAR,135,160,50,14
 PUSHBUTTON "+",ID_BTNPLUS,135,7,50,14
 PUSHBUTTON "-",ID_BTNMINUS,135,24,50,14
 PUSHBUTTON "*",ID_BTNMULT,135,41,50,14
 PUSHBUTTON "/",ID_BTNDIV,135,58,50,14
 EDITTEXT IDC_EDIT1,7,7,77,18,ES_AUTOHSCROLL | ES_READONLY
 EDITTEXT IDC_EDIT2,7,24,77,18,ES_AUTOHSCROLL | ES_READONLY
 EDITTEXT IDC_EDIT3,7,41,77,18,ES_AUTOHSCROLL | ES_READONLY
 PUSHBUTTON "7",ID_7,7,60,35,35
 PUSHBUTTON "8",ID_8,42,60,35,35
 PUSHBUTTON "9",ID_9,77,60,35,35
 PUSHBUTTON "4",ID_4,7,95,35,35
 PUSHBUTTON "5",ID_5,42,95,35,35
 PUSHBUTTON "6",ID_6,77,95,35,35
 PUSHBUTTON "1",ID_10,7,130,35,35
 PUSHBUTTON "2",ID_20,42,130,35,35
 PUSHBUTTON "3",ID_3,77,130,35,35
 PUSHBUTTON "0",ID_0,42,165,35,35
 PUSHBUTTON "=",IDOK,135,200,50,14
END