#include <windows.h>
#include "recieverRes.h"
IDD_DLGTEST DIALOG DISCARDABLE 0, 0, 155, 48
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |
 WS_SYSMENU
CAPTION "dialog2"
FONT 8, "MS Sans Serif"
BEGIN
 DEFPUSHBUTTON "SEND", ID_SEND, 5, 29, 50, 15
 EDITTEXT IDC_MESSAGE,5,5,145,18, ES_AUTOHSCROLL
END